.Cperfil{
    display: flex;
    background-color: #1A5276;
    color: azure;
   justify-content: space-between;
}
.Cavatar{
    overflow: hidden;
    width: 10rem;
    border: solid 1px black;
    border-radius: 50%;
    padding:10px;
    margin: 10px;
}



.headmovil{
    margin: auto;
    font-size: 25px;

}
.Cinfo{
    padding: 10px;
   
    margin: 10px;
}

.info{
    font-size: 12px;
    margin:  10px 5px;
}

/*body*/
.Cbody{
    display: flex;
    flex-direction: column;
}

.TitulosBody{
    font-size: 25px;
    margin: auto;
    text-align: center;
}
.Ccarrera{
    font-weight: 100;
    box-shadow: rgba(0, 0, 0, 1);
}

.Ctitulosbody{
    font-size: 20px;
    font-weight: 500;
    color:#117864;
    margin:10px;
}
.CEX{
   
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CEX ion-icon{
    font-size: 30px;
    background-color: #1A5276;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}
/*habilidades*/
.Chabilidades{
   
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.Chabilidades .Cpuntos{
    width: 90%;
    height: auto;
    
}
.Puntaje{
    margin-top: 10px;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: solid black 1px;
    position: relative;
  
}
.Puntaje::before{
    content: "";
    position: absolute;
    background-color: #117864;
    width: var(--pts);
    height: 100%;
}
@media (min-width:900px) {
    .Ctitulosbody{
        font-size: 35px;
        color: #1A5276;
       font-weight: 600;
    }

    .flexcontencolumn{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .Curriculon{
      
         min-width: 100vw;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 30% 70%;
       

        
     }
    
     .Cperfil{
        
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1A5276;
        color: #fff;
     }

     .Cperfil .Cavatar{
        border: solid 4px #fff;
        padding: 10px;
        border-radius: 50%;
     }

     .Cnombre{ 
        font-size: 40px;
        font-weight:400;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 10px;
     }

     .Cnombre::before{
        position: absolute;
        content: "";
        width: 80%;
        height: 1px;
        background-color: #fff;
        bottom: 0;
        margin-bottom: -10px;
     }

     .Clocalizacion{
        margin: 20px 10px;
        padding: 10px;
     }
     .CTGeneral{
        font-size: 24px;
       
     }
     .Clocalizacion .Cvivienda{
        font-size: 15px;
     }

   
     .info{
        font-size: 15px;
        font-weight: 100;
        margin: 5px auto ;
        display: flex;
        margin: 4px 0;
        padding: 10px;
        align-items: center;
     }
     .Contacto ion-icon{
        margin: 0 10px;
        background-color: black;
        padding: 10px;
        border-radius: 50%;
        color: #fff;
     }

     /**body**/
     .Cbody{
       
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

     }

.TitulosBody{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodysize{
    font-size: 50px; 
    font-weight: 300; 
}
.Ccarrera{
    font-size: 30px;
    font-weight: 100;  
    flex-direction: column;
}


.CEX{
    display: flex;
    padding: 10px;
    justify-content:left;
}

.CEX ion-icon{
    font-size: 50px;
    color: #fff;
    margin: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}
.CEX ul{
    margin: 10px 15px;
}



/**habilidades**/
.Chabilidades{
    padding:10px ;
    display: grid;
    grid-template-columns: 33% 33% ;
    column-gap:2rem;
    row-gap: 1rem;
}
.Chabilidades .Cpuntos{
    width: 90%;
    height: auto;
    
}
.Puntaje{
    margin-top: 10px;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: solid black 1px;
    position: relative;
  
}
.Puntaje::before{
    content: "";
    position: absolute;
    background-color: #117864;
    width: var(--pts);
    height: 100%;
}

}