.h-container{
    min-height: 100vh;
    background:linear-gradient(to left , #B7950B , #F1C40F) ;
}

.h-containerbox{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
   
    
   
}
.h-containerbox .box{
    transition: all .5s linear;
    background-color: #fff;
    width: 250px;
    height: 100px;
    cursor: pointer;
   
    
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .255);
    position: relative;
}
 .h-containerbox .box:nth-child(2){
    transform: translateX(40px)
 }

 .h-containerbox .box:nth-child(3){
    transform: translateX(80px)
 }

  .box:nth-child(2):hover{
    transform: translateX(0)
 }

  .box:nth-child(3):hover{
    transform: translateX(0)
 }

 .h-container .box:nth-child(1)::before{
    content: '';
    position: absolute;
    width: 5px;
    transition: all .5s linear;
    left: 0;
    height: 100%;
    background-color: #85C1E9;
 }
 .h-container .box:nth-child(2)::before{
    content: '';
    position: absolute;
    width: 5px;
    left: 0;
    height: 100%;
    background : linear-gradient(to left , #A569BD ,#D35400);
    transition: all .5s linear;
 }
 .h-container .box:nth-child(3)::before{
    content: '';
    position: absolute;
    width: 5px;
    left: 0;
    height: 100%;
    background-color:#239B56;
    transition: all .5s linear;
 }

 
 .h-container .box:nth-child(1):hover::before{
    width: 100%;
    color: #fff;
 }
 
 .h-container .box:nth-child(2):hover::before{
    width: 100%;
 }
 .h-container .box:nth-child(3):hover::before{
    width:100%;
 }

 .h-conten{
    display: flex;
    position: relative;
   
    align-items: center;
    height: 100%;
    
 }
 .icon {
    position: relative;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    
 }
 .icon ion-icon{
   color: var(--clr);
   font-size: 3rem;
 }
 .box:hover .icon ion-icon{
    color: #fff;
    font-size: 3rem;
  }
  .redes p{
    font-size: .9rem;
    font-weight: 100;
    color: var(--clr);
    transition: all .5s linear;
  }
  .box:hover .redes p{
    color: #fff;
  }
 
  /*imagenes*/
  .ht{
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding:10px;
  }
  .ht .h-titulo{
    color: black;
    font-size: 80px;
    margin: 10px 0;
    font-weight: 900;
    text-align: justify;
    
    animation: titulo 2s infinite linear;
  }

  @keyframes titulo{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(20px);
       
    }
    50%{
        transform: translateY(0);

    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }

  }
 @media (min-width:600px) {
    .h-containerbox .box{
        transition: all .5s linear;
        background-color: #f2f2f2;
        width: 400px;
        height: 100px;
        cursor: pointer;
        
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .255);
        position: relative;
    }

    .h-containerbox{
        align-items: center;
        justify-content: center;
    }
 }